body {
  font-family: sans-serif;
  color: #222222;
  background: #fafafa;
}

a {
  color: #337ab7;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #fafafa;
    background: #222222;
  }

  a {
    color: #8cb4ff;
  }
}